apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: car-management-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: car-management-backend
  template:
    metadata:
      labels:
        app: car-management-backend
    spec:
      containers:
        - name: car-management-backend
          image: your_dockerhub_org/car-management-backend:latest # Replace with your Docker Hub organization and a specific tag if needed
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: backend-config
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: car-management-backend
spec:
  selector:
    app: car-management-backend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: ClusterIP
