apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: car-rental-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: car-rental-frontend
  template:
    metadata:
      labels:
        app: car-rental-frontend
    spec:
      containers:
        - name: car-rental-frontend
          image: halcyonxii/car-rental-frontend:latest
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: car-rental-frontend
spec:
  selector:
    app: car-rental-frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
  type: NodePort
